.elementor-300 .elementor-element.elementor-element-15609d5 {margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
.elementor-300 .elementor-element.elementor-element-9ced676 .elementor-text-editor {text-align: right;}
.elementor-300 .elementor-element.elementor-element-9ced676 {color: #000;}
.elementor-300 .elementor-element.elementor-element-9ced676 > .elementor-widget-container {margin: -200px -200px -200px -200px;}
.elementor-300 .elementor-element.elementor-element-0871bab .elementor-image img {width: 100%;max-width: 100%;}
@media (min-width:768px) {.elementor-300 .elementor-element.elementor-element-1d87602 {width: 60.705%;}
	.elementor-300 .elementor-element.elementor-element-c1bb687 {width: 39.303%;}}